@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*** *******      Navbar        ****** ***/

header {
  max-width: 100%;
  /*padding: 0 7%;
  margin: 0 auto;*/
}

.top-nav,
.logo,
.nav-links,
.close-menu {
  display: none;
}

.menu {
  padding: 7% 0 5% 5%;
}

.close-menu {
  padding: 7% 0 5% 5%;
}

.nav-mbl-active {
  width: 100%;
  height: 90vh;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 15px;
  position: fixed;
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
}

.nav-mbl-active a {
  color: #d3d3d3;
  font-size: xx-large;
  font-weight: 800;
  transition: padding-left 1s;
}

.nav-mbl-active a:hover {
  padding-left: 6px;
}

.nav-mbl-active .subscribe-btn {
  color: #ec5242;
  font-size: large;
  font-weight: 800;
  padding: 15px;
  border: 2px solid #ec5242;
  border-radius: 4px;
  transition: background-color 1s, color 1s;
}

.subscribe-btn:hover {
  background-color: #ec5242;
  color: #fff;
}

/*** *******      Main Section        ****** ***/

.main {
  background-image: url(images/main-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding: 10% 5% 8% 5%;
}

.main h4 {
  color: #ec5242;
  margin-bottom: 25px;
  font-size: 20px;
}

.main h1 {
  color: #ec5242;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 45px;
}

.main p {
  color: #414247;
}

.event-details {
  margin-bottom: 45px;
}

.main h2 {
  margin-bottom: 15px;
  color: #272a31;
}

/*** *******      Feature Program Section        ****** ***/

.feature-courses {
  background-color: #272a31;
  background-image: url(images/feature-prog-pattern_bg.png);
  padding: 7% 4%;
  display: flex;
  flex-direction: column;
}

.feature-cour-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.feature-cour-heading h2 {
  color: #fff;
}

.feature-cour-heading hr,
.leading-inst-heading hr {
  background-color: #ec5242;
  border: none;
  height: 4px;
  width: 10%;
  margin: 0 auto;
}

.course-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 25px;
}

.course {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: rgba(59, 62, 69, 0.6);
  padding: 4px;
}

.course h4 {
  color: #ec5242;
}

.course p {
  color: #d3d3d3;
}

.join-course {
  font-size: 22px;
  color: #fff;
  background-color: #ec5242;
  border: none;
  border-radius: 4px;
  transition: background-color 1s, color 1s;
  margin: 0 auto;
  padding: 16px 72px;
}

.join-course:hover {
  color: #ec5242;
  background-color: #fff;
}

/*** *******      Leading Instructors Section        ****** ***/

.leading-instructors {
  padding: 7% 5%;
}

.instructor-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.leading-inst-heading h2 {
  color: #272a31;
  text-align: center;
  margin-bottom: 15px;
}

.leading-inst-heading hr {
  margin-bottom: 30px;
}

.instructor {
  display: flex;
}

.chess-board {
  width: 13vw;
  position: relative;
}

.instructor-img {
  position: relative;
  bottom: 20%;
  width: 26vw;
  left: 8%;
}

.instructor-details {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  gap: 8%;
}

.instructor-details h3 {
  color: #272a31;
}

.instructor-details h4 {
  color: #ec5242;
}

.instructor-details p {
  color: #6b6666;
}
