@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*** *******      Navbar        ****** ***/

header {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

.top-nav,
.logo,
/*.nav-links,*/
.close-menu {
  display: none;
}

.menu {
  padding: 8% 0;
  display: none;
}

#nav-links {
  height: 100vh;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 15px;
}

#nav-links a {
  color: #d3d3d3;
  font-size: xx-large;
  font-weight: 800;
  transition: padding-left 1s;
}

#nav-links a:hover {
  padding-left: 4px;
}

.subscribe-btn {
  color: #ec5242;
  font-size: large;
  font-weight: 800;
  padding: 15px;
  border: 2px solid #ec5242;
  border-radius: 4px;
  transition: background-color 1s, color 1s;
}

.subscribe-btn:hover {
  background-color: #ec5242;
  color: #fff;
}
